html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'SF Pro Display', sans-serif;
    overflow-x: hidden !important;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header-container1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: auto;
    max-width: 1100px;
    margin: 0 115px;
    padding: 0 12px;
    border-bottom: 1px solid #d7eaff;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header-container1-txt{
    margin-right: 48px;
    vertical-align: middle;
    color: black;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'SF Pro Display', sans-serif;
}

#header-container1-btn{
    display: flex;
    padding: 8px 10px;
    align-items: center;
    vertical-align: middle;
    border-radius: 50rem;
    border: 1px solid rgb(209, 209, 209);
    text-align: center;
    background-color: rgb(233, 233, 233);
    color: rgb(143, 143, 143);
    cursor: pointer;
    transition: ease 0.2s;
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
}

#header-container1-btn:hover {
    color: black;
}

#header-container-img1{
    margin-left: 5px;
}

#header-container2{
    background-color: transparent;
    height: 64px;
    padding: 8px 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    max-width: 1296px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header-containter-img1{
    width: 120px;
    height: 28px;
    margin-left: 130px;
    margin-right: 60px;
}

#header-nav-list{
    display: inline-flex !important;
    background-color: transparent;
    justify-content: center;
    vertical-align: middle;
}

.nav-list{
    margin: 0 20px;
}

.nav-list a{
    text-decoration: none !important;
    color: black !important;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
}

.nav-list a:hover{
    color: #3597ff !important;
    transition: ease 0.2s;
}

#nav-button{
    padding: 15px 20px;
    font-size: 13px;
    background-color: #3597ff !important;
    border-color: #3597ff !important;
    border-radius: 6px;
    color: white !important;
    border: 0 solid transparent;
    margin-right: 130px;
    margin-left: auto;
    cursor: pointer;
    letter-spacing: 1px;
}

#main-first-container{
    background-color: #3597ff !important;
    width: 100%;
    height: 440px !important;
    display: flex;
    justify-content: center;
}

#main-text-container1{
    background-color: transparent;
    padding: 100px 130px;
    width: fit-content;
}

h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

h2{
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 1px;
    line-height: 1.2;
}

#main-container-img1{
    width: 543px;
    float: right;
    vertical-align: top;
    z-index: 100;
    margin: 0;
}

b{
    font-weight: 900;
}

#main-o-divider{
    width: 482px;
    position: absolute;
    top: 330px;
    right: -241px;
    z-index: 99;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
    overflow: hidden !important;
}

img{
    overflow-x: hidden !important;
}

#main-h1-1{
    color: black !important;
    text-align: center;
    margin-top: 110px;
}

.main-p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #566b8d;
}

.main-h3{
    font-size: 1.25rem;
    color: black;
    font-weight: 700;
}

.main-p-box{
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #566b8d;
    width: 261px;
    font-size: 0.875rem;
    margin-top: 10px;
}

.main-box{
    width: 261px;
    height: 151px;
    background-color: transparent;
    border-radius: 5px;
    padding: 12px;
    padding-top: 68px;
}

#main-p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #566b8d;
}

.main-p-3{
    color: rgb(86, 107, 141);
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: 1;
    line-height: 1.5;
}

#main-p-3-1{
    margin-top: 45px;
}

#main-p-3-2{
    margin-top: 25px;
}

#main-container-about-info div img {
    margin-bottom: 20px;
}

#main-container-about-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-h3-3{
    color: black;
    font-size: 40px;
    font-weight: 300;
    margin-top: 90px;

}

#main-h3-3 b{
    font-weight: 700;
}

#main-container-owerview-info{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

b{
    font-weight: 700;
}

#main-container-box3{
    width: 559px;
}

#main-container-box4{
    width: 559px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

.box-grid1{
    margin: 8px;
    padding: 16px 24px;
    width: 185px;
    height: 151px;
    border-radius: 4px;
}

.main-box-grid-h2{
    font-size: 90px;
    text-align: right;
    font-weight: 700;
    font-family: "SF Pro Display", sans-serif;
}

.main-box-grid-h4{
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

#main-container-labs-info{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-family: "SF Pro Display", sans-serif;
}

#main-container-labs-info-h2{
    font-size: 2.5rem;
    font-family: "SF Pro Display", sans-serif;
    vertical-align: middle;
    padding-top: 110px;
}

#main-container-labs-info-boxcontainer1{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 55px;

}

.main-box-4-h3{
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}

.main-boxcontainer-4{
    padding: 25px 40px;
    padding-bottom: 0px !important;
    max-height: 282px;
    height: auto;
    max-width: 240px;
    width: auto;
    border-radius: 5px;
    margin: 4px;
    text-align: left;
    color: #566b8d;
    font-size: 14px !important;
    letter-spacing: 1px;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.main-boxcontainer-4:hover{
    transition: 0.2s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.main-box-4-p{
    max-width: 160px;
}

.main-box-4-img{
    margin-top: 50px;
    margin-bottom: 30px;
}

#main-container-box4-grid1{
    background: rgba(221, 236, 251, 0.4);
}

#main-container-box4-grid2{
    background: rgba(156, 238, 204, 0.4);
}

#main-container-box4-grid3{
    background: rgba(238, 226, 156, 0.4);
}

#main-container-box4-grid4{
    background: rgba(238, 156, 156, 0.4);
}

#main-box4-grid1-h2{
    color: rgb(91, 148, 215);
}

#main-box4-grid2-h2{
    color: rgb(92, 193, 154);
}

#main-box4-grid3-h2{
    color: rgb(219, 202, 104);
}

#main-box4-grid4-h2{
    color: rgb(185, 94, 115);
}

#main-box4-grid1-h4{
    color: rgb(91, 148, 215);
}

#main-box4-grid2-h4{
    color: rgb(92, 193, 154);
}

#main-box4-grid3-h4{
    color: rgb(219, 202, 104);
}

#main-box4-grid4-h4{
    color: rgb(185, 94, 115);
}

#mian-5-h2{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
    font-weight: 300;
    margin-bottom: 60px;
}

#main-container-location-schools{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

#main-container-location-schools-box1{
    margin-right: 120px;
}

.main-container-location-schools-box-img{
    width: 451px;
}

.main-container-location-schools-box-h4{
    margin-bottom: 24px;
    color: #566b8d !important;
}

.main-container-location-schools-box-h4 img{
    margin-bottom: -6px;
    margin-top: 24px;
}

.main-container-location-schools-box-divider-box{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.main-container-location-schools-box-h2{
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    width: 289px;
    text-align: left;

}

.main-container-location-schools-box-link{
    margin-top: 53px;
    text-align: right;
    float: right;
    margin-left: auto;
    text-decoration: none;
    font-size: 18px;
    color: rgb(53, 151, 255);
    font-weight: 500;
    z-index: 99;
}

#main-p-divider{
    width: 436px;
    position: absolute;
    top: 2400px;
    right: -218px;
    z-index: 2;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
    overflow: hidden !important;
}

#main-container-pdt-study{
    background-color: #f3f9ff;
    z-index: 99;
    height: 723px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#main-container-pdt-study-containerbox{
    width: 451px;
    margin-top: 80px;
    z-index: 98;
}
#main-container-pdt-study img{
    width: 641px;
    height: 509px;
    vertical-align: bottom;
    margin-top: 214px;
    margin-left: 20px;
}

#main-container-pdt-study h2{
    font-size: 40px;
    color: rgb(33, 37, 41);
    font-weight: 300;
}

#main-container-pdt-study span{
    position: absolute;
    font-size: 62px;
    color: rgba(209, 220, 231, 0.3);
    font-weight: 700;
    margin-top: 10px;
    z-index: -1;
}

#main-container-pdt-study h3{
    margin-top: 50px;
    font-size: 20px;
    color: black;
    font-weight: 700;

}

#main-container-pdt-study p{
    color: rgb(86, 107, 141);
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 1.5;
    margin-top: 20px;
}

#main-container-pdt-study a{
    position: relative !important;
    background: rgb(53, 151, 255);
    padding: 22px 52px;
    top: 100px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 700 !important;
}

#main-container-join-us-openlab{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    z-index: 10;
}

#openlab-join-h2{
    text-align: center;
    margin-top: 140px;
    font-size: 40px;
    color: rgb(33, 37, 41);
}

.main-boxcontainer-7{
    padding: 25px 20px;
    padding-bottom: 0px !important;
    max-height: 234px;
    height: auto;
    max-width: 278px !important;
    width: auto;
    border-radius: 5px;
    margin: 8px;
    text-align: left;
    color: #566b8d;
    font-size: 14px !important;
    letter-spacing: 1px;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.main-boxcontainer-7:hover{
    transition: 0.2s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.main-box-7-p{
    max-width: 260px;
    font-weight: 400;
    font-size: 15px;
}

.main-box-7-img{
    margin-top: 40px;
    margin-bottom: 30px;
}

.main-box-7-h3{
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}

#special-h2-openlab{
    color: rgb(33, 37, 41);
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-top: 250px;
}

#main-a-divider{
    width: 400px;
    position: absolute;
    top: 4000px;
    left: -208px;
    z-index: -10;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
    overflow: hidden !important;
}

#main-container-special-us{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin-top: 100px;
    border-bottom: 1px solid rgb(215, 234, 255);
    margin-bottom: 70px;
    width: auto;
    margin-left: 130px;
    margin-right: 130px;
}

.special-us-box{
    width: 261px;
    height: 228px;
    margin: 12px;
    margin-bottom: 40px;
}

.special-us-box h3{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 700;
}

.special-us-box p{
    color: rgb(86, 107, 141);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
}

#know-us-team{
    color:rgb(33, 37, 41);
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

#main-container-us-team{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 70px;
}

.container-us-team-box{
    width: 261px;
    height: 462px;
    margin: 12px;
}

.container-us-team-box img{
    width: 261px;
    border-radius: 4px;
}

.container-us-team-box h3{
    color: rgb(86, 107, 141);
    font-size: 14px;
    margin-top: 8px;
    font-weight: 700;
    line-height: 1.5;
}

.container-us-team-box h2{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

.container-us-team-box p{
    color: rgb(86, 107, 141);
    font-size: 16px;
    margin-top: 4px;
    font-weight: 500;
    line-height: 1.5;
}

#main-container-support-us{
    height: 387px;
    display: flex;
    justify-content: center;
}

#main-container-support-us img{
    height: 387px;
    width: 546px;
}

#support-us-box{
    margin-left: 20px;
}

#support-us-box h2{
    color: rgb(33, 37, 41);
    font-size: 32px;
    font-weight: 700;
    margin-top: 80px;
}

#support-us-box p{
    width: 546px;
    height: 120px;
    color: rgb(86, 107, 141);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 40px;
}

#support-us-box img{
    width: 22px;
    height: 18px;
    margin-left: 5px;
}

#support-us-box a{
    text-decoration: none;
    color: rgb(53, 151, 255);
    font-size: 16px;
}

#who-stands-behind-openlab{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

#who-stands-behind-openlab h2{
    color: rgb(33, 37, 41);
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 48px;
    margin-right: 85px;
}

#companies-behind-openlab-box{
    display: grid;
    grid-template-columns: auto auto auto;
}

#companies-behind-openlab-box img{
    margin: 15px;
}

#main-container-modern-school{
    display: flex;
    margin: 30px;
    justify-content: center;
    margin-top: 150px;
}

#modern-school-box h2{
    font-size: 40px;
    color: rgb(33, 37, 41);
    font-weight: 300;
    letter-spacing: 1px;
}

#modern-school-box p{
    color: rgb(86, 107, 141);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 451px;
    line-height: 24px;
    margin-top: 20px;
}

#modern-school-box li{
    display: inline-flex;
    margin: 5px;
    justify-content: center;
    vertical-align: middle;
    margin-top: 20px;
}

#modern-school-box button{
    padding: 22px 56px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(53, 151, 255);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
}

#modern-school-img{
    width: 546px;
    height: 307px;
    margin-top: 50px;
    margin-left: 100px;
}

#main-container-thanks-for-support-2021{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#main-container-thanks-for-support-2021 img{
    margin: 16px;
    margin-left: 40px;
    vertical-align: middle;
    text-align: center;
}

#thx-for-support-2021{
    font-size: 40px;
    color: rgb(33, 37, 41);
    font-weight: 300;
    text-align: center;
    margin-top: 160px;
}

#main-container-email-newsletter{
    background: rgb(215, 234, 255);
    display: flex;
    border-radius: 4px;
    justify-content: center;
    width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin-top: 130px;
    margin-bottom: 130px;
}

#main-container-email-newsletter h2{
    width: 502px;
    color: rgb(33, 37, 41);
    font-size: 19px;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: 50px;
}

#newsletter-input-box{
    width: 502px;
    /* padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 60px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: start;
    height: 28px;
    padding: 6px 4px;
    border-radius: 6px;
}

#newsletter-input-box input{
    width: 502px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    margin-right: 28px;
    color: rgb(86, 107, 141);
    font-weight: 400;
}

footer{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#footer-box1{
    margin-right: 50px;
}

#footer-box1 img{
    width: 112px;
    height: 27px;
    margin-bottom: 8px;
}

#footer-box2{
    margin-right: 50px;
    margin-top: 16px;
}

#footer-box3{
    margin-right: 50px;
    margin-top: 30px;
}

footer h3{
    color: rgb(86, 107, 141);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 19.5px
}

footer a{
    color: rgb(86, 107, 141);
    font-weight: 700;
    font-size: 13px;
}

footer ul{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-top: 26px;
    margin-left: 200px;
}

footer li{
    margin: 0 10px;
    width: 20px;
    height: 20px;
}